version: '3.7'
# vesion of docker-compose file was no need in V2, but is required in V1

services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
    image: mariadb
    env_file:
      - .env
    secrets:
      - db_root_password
      - db_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception_network
    restart: unless-stopped

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
    image: wordpress
    env_file:
      - .env
    secrets:
      - db_password
      - credentials
    volumes:
      - wordpress_data:/var/www/html/wordpress
    networks:
      - inception_network
    depends_on:
      - mariadb
    restart: unless-stopped

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
    image: nginx
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html/wordpress
    ports:
      - "443:443"
    networks:
      inception_network:
        aliases:
          - ${DOMAIN_NAME}
    depends_on:
      - wordpress
    restart: unless-stopped

  # --- Bonus ---
  static:
    build:
      context: ./requirements/static
      dockerfile: Dockerfile
    image: static
    container_name: static
    env_file:
      - .env
    ports:
      - "8081:8081" # Access the static site on this port
    networks:
      - inception_network
    restart: unless-stopped

  adminer:
    build:
      context: ./requirements/adminer
      dockerfile: Dockerfile
    container_name: adminer
    image: adminer
    env_file:
      - .env
    # Adminer can connect to mariadb through the internal network
    ports:
      - "8080:8080"
    networks:
      - inception_network
    restart: unless-stopped

networks:
  inception_network:
    driver: bridge

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: ${DATA_PATH}/data/mariadb
      o: bind
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      device: ${DATA_PATH}/data/wordpress
      o: bind

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  credentials:
    file: ../secrets/credentials.txt
