*
!Dockerfile
!docker-compose.yml
!requirements/
!tools/
!.gitignore
!srcs/


!README.md
!USER_DOC.md
!DEV_DOC.md

# Except the ones specified above
# Ignore swap files
*.swp
# Ignore macOS system files
.DS_Store
# Ignore log files
*.log
# Ignore temporary files
tmp/
temp/
# Ignore backup files
*~

# Ignore secrets
secrets/credentials.txt
secrets/db_password.txt
secrets/db_root_password.txt
